In [11]:
import pandas as pnd

In [12]:
df = pnd.read_csv("dataset.csv",delimiter=",")

In [13]:
df.head()

   Product/Vendor       Username       Password
0     Zyxel (ssh)          zyfwp    PrOw!aN_fXp
1     APC UPS (web)          apc            apcÂ
2    Weblogic (web)       system        manager
3    Weblogic (web)       system        manager
4    Weblogic (web)     weblogic      weblogic1

In [14]:
df.describe()

        Product/Vendor     Username   Password
count                 452        452        452
unique                139        110        273
top          SNMP (snmp)       None      admin
freq                  118        125         46